

/*Header*/
#mainHead{
	background-color: #000;
	color:#fff;
}
#mainHead .logo{
	float: left;
	padding-left: 1%
}

#mainHead .logo h1{
	font-size: 17px;
	text-align: left;
	margin: 15px 0px 10px 10px;
	float: right;
}

#mainHead .logo img{
	margin-top: 13px;
	height: 32px;
}

#mainHead .user-info{
	float: right;
	text-align: right;
	font-size: 12px;
	padding-right: 1%	
}
#mainHead .user-info h2{
	font-size: 15px;
	margin: 17px 0;	
}

	
/*Navigation*/
#navSection {
	margin-bottom: 30px;
	color: #fff;
}

#navSection .menu .active a{
	background-color: #000;
	color: #fff;
}
#navSection  a {
	color: #000;
}

#navSection  a::after{
	border-color: #000 transparent transparent;
}

/*Content*/

#content label{
	font-size: 17px;
}

/*Footer*/
footer 



