#content h1{
	font-size: 2rem;
	font-size: 2rem;
	border-bottom: solid 1px #000;
	margin-bottom: 30px;
}
#content label{
	font-size: 15px;
}
#content input , #content select {
	font-size: 15px;
	margin-top: 3px;
	height: 25px;
	border-radius: 5px;
	padding: 0px 5px;
}

#content select {
	position: relative;
	bottom: 5px;
	font-size: 13px;
	-moz-appearance: unset;
	padding-right: 23px;
	margin-top: 8px;
}

#content .filter-section{
	padding-bottom: 40px;
}
#content .button{
	padding: 2px 16px;
    margin-top: 22px;
}
#expensesTableContainer .handle-expense{
	background: url('/img/gear_1.png');
	background-position:center;
	background-repeat:no-repeat;
	width: 100%;
	background-size: 21px;
	height: 28px;
}

.filter-section #CheckExpense{
	width: 100%;
}

#tableContainer{
	
	margin-bottom: 3%;
}

#expenseDetails{
	width: 80%;
	margin: 0 auto;
}

#expenseDetails .billable-header,  #expenseDetails .non-billable-header{
	text-align: left;
}

#expenseDetails .cash-advance,  #expenseDetails .cash-remaining{
	color: blue;
}

#expenseDetails .refund-total{
	color: green;
}


#expenseDetails .refund-total, #expenseDetails .cash-remaining{ 
	color: green;
}
#expenseDetails .billable-total, #expenseDetails .non-billable-total{
	color: tomato;
}

#expenseDetails .billable-header .info,  
#expenseDetails .non-billable-header .info, 
#expenseDetails .cash-advance .info,  
#expenseDetails .cash-remaining .info,
#expenseDetails .refund-total .info{
	width:80%;
}

#billableChart, #nonBillableChart{

	/*border-top: solid 1px #c4c4c4;*/
}

#billableChart{
margin-bottom: 0px;
}

#globalBillableChart{
	/*border-bottom: 1px solid;
	border-top: solid 1px ;*/
}

#expenseDetails table td:nth-child(2),
#expenseDetails table th:nth-child(2) {
    text-align: right;
